name: Verify Images
on:
  pull_request:
    branches:
    - master
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      # Remember to match these with the buildimage.yml action
      matrix:
        version: ['v3.3.2']
        server: ['apache', 'nginx']
    steps:
    - uses: actions/checkout@v1
      with:
        fetch-depth: 1

    - name: Build ${{ matrix.version }}-${{ matrix.server }}
      run: make VERSIONS=${{ matrix.version }} SERVERS=${{ matrix.server }} TAG=test

    - name: Run ${{ matrix.version }}-${{ matrix.server }}
      run: docker run -d --name ${{ matrix.version }}-${{ matrix.server }} test:${{ matrix.version }}-${{ matrix.server }}

    - name: Verify ${{ matrix.version }}-${{ matrix.server }}
      run: |
        [ $(docker inspect ${{ matrix.version }}-${{ matrix.server }} --format='{{.State.Running}}') = 'true' ]
